.c-expandable-section-with-action {
  --background-color: #e7ebee;
  --clearance-between-callout-action: 24px;
  --clearance-between-callout-action-large: 16px;
  --clearance-between-button: 20px;
  --layout-change-size: 70.2%;

  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: var(--clearance-between-callout-action);
  padding: 24px;
  border-radius: 3px;
}

@media only screen and (min-width : 600px) {
  .c-expandable-section-with-action {
    gap: var(--clearance-between-callout-action-large);
  }
}

.c-expandable-section-with-action + .c-expandable-section-with-action {
  margin-top: 24px;
}

.c-expandable-section-with-action > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--layout-change-size);
}

.c-expandable-section-with-action > :last-child {
  flex-grow: 1;
}

.c-expandable-section-with-action__callout > * + * {
  margin-top: 1em;
}

.c-expandable-section-with-action__head {
  font-weight: bold;
}

.c-expandable-section-with-action__button-group {
  display: flex;
  justify-content: space-between;
  gap: var(--clearance-between-button);
}

.c-expandable-section-with-action__button-group > * {
  margin-top: auto;
  margin-bottom: auto;
}
