.c-expandable-section-with-action {
  --background-color: #E7EBEE;
  --clearance-callout-action: 24px;
  --clearance-button: 20px;
  --layout-change-size: 68.4%;

  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: var(--clearance-callout-action);
  padding: 24px;
  border-radius: 3px;
}

.c-expandable-section-with-action > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--layout-change-size);
}

.c-expandable-section-with-action > :last-child {
  flex-grow: 1;
}

.c-expandable-section-with-action__callout > * + * {
  margin-top: 1em;
}

.c-expandable-section-with-action__head {
  font-weight: bold;
}

.c-expandable-section-with-action__button-group {
  display: flex;
  justify-content: space-between;
  gap: var(--clearance-callout-action);
}

.c-expandable-section-with-action__button-group > * {
  margin-top: auto;
  margin-bottom: auto;
}
